<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <link rel="shortcut icon" href="/favicon.png" />
    <link href="/css/style.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <title>Dan Kolbman &mdash; {{ page.title }}</title>

    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37300370-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>

  </head>
  <body>
    <header>
      <h1 id="title">
       Dan Kolbman
      </h1>
      <h2 id="subtitle">
	 Physics Journal
      </h2>
      <h2 id="navigation">
	<a href="/index.html" title="Home">Home</a>
	&bull;
        <a href="/archive.html" title="Archive">Archive</a>
	&bull;
        <a href="/about.html" title="About">About</a>
      </h2>
    </header>
    <div id="wrapper">
      {{ content }}
      <footer id="footer">
      Awesome Sauce!
      </footer>
    </div>
  </body>
</html>

